// process.container = 'quay.io/nextflow/bash'

// process {
//     executor = 'awsbatch'
//     queue = 'TowerForge-5TkEnywKZRrWZzoFAYGOnO-head'
// }

// aws {
//     region = 'eu-west-2'
//     batch {
//         cliPath = '/home/ec2-user/miniconda/bin/aws'  // Only if using a custom AMI with AWS CLI installed
//     }
// }

// workDir = 's3://adritest-seqera/work'

// wave {
//     enabled = true
// }

// fusion {
//     enabled = true
// }